<div ng-controller="FormSearchController as ctrl">

    <div class="groupPerPagePanel">
        <div class="col-sm-6">
            <label class="control-label " for="pwd">Polls per page:</label>
            <select class="form-control" ng-model="ctrl.itemsPerPage" ng-click="ctrl.chosePerPage()" placeholder="Polls per page">
                <option>1</option>
                <option>5</option>
                <option>10</option>
                <option>15</option>
                <option>20</option>
            </select>
        </div>
        <div class="col-sm-6 statePanel">
            <label class="control-label " for="pwd">State:</label>
            <select class="form-control" ng-model="ctrl.itemsState" ng-click="ctrl.changeState()" placeholder="State">
                <option>open</option>
                <option>closed</option>
                <option>all</option>
            </select>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Search poll</div>
        <div class="panel-body ">
            <div class="form-group">
                <div class="input-group">
                    <input type="text" ng-model="ctrl.searchText" class="form-control" placeholder="Search" required>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit" ng-click="ctrl.Search()">Search</button>
                    </span>
                </div>
                <div ng-show="vm.messageSearch" class="alert alert-danger" role="alert">{{vm.messageSearch}}</div>
            </div>
        </div>
    </div>
    <div ng-controller="FormVoteController as ctrlVote">
        <div ng-repeat="form in ctrl.forms | filter:searchText">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Author: {{ form.Username}}
                </div>
                <div class="panel-body">
                    <div class="col-sm-12">
                        <div class="col-sm-6 col-md-4">
                            <h3>{{ form.Title}}</h3>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <h5>Category: {{ form.Category }}</h5>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <h5>State: {{ form.State }}</h5>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <h5>Created on: {{ form.CreatedDate }}</h5>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <h5>Deadline: {{ form.Deadline }}</h5>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="btn-group btn-group-justified">
                            <div ng-hide="form.Voted" class="btn btn-default" ng-click="vm.changePage(ctrlVote.changeID(form.Id))">Vote poll</div>
                            <div ng-if="form.Voted" class="btn btn-default" ng-click="vm.changePage(ctrl.viewResults(form.Id))">View results</div>
                            <div ng-if="vm.userData.username == form.Username" class="btn btn-default" ng-click="ctrl.deleteForm(form.Id)">Delete poll</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="col-sm-8 col-sm-offset-2">
        <div ng-if="ctrl.message" class="alert alert-info" role="alert">{{ctrl.message}}</div>
    </div>
    <nav>
        <ul class="pager col-sm-12">
            <li><a href="" ng-if="ctrl.Prev" ng-click="ctrl.chosePageNr(ctrl.page_nr - 1)">Previous page</a></li>
            <li><a href="" ng-if="ctrl.Next" ng-click="ctrl.chosePageNr(ctrl.page_nr + 1)">Next page</a></li>
        </ul>
    </nav>

</div>



