<div ng-controller="CarUserController as ctrl">
    <div class="panel panel-default">
        <div class="panel-heading">Search car</div>
        <div class="panel-body">
            <label class="control-label col-sm-2">Search:</label>
            <div class="col-sm-8">
                <input type="text" ng-model="searchText" class="form-control" placeholder="Search">
            </div>
        </div>
    </div>

    <div>
        <div class="panel panel-default">
            <div class="panel-heading">My cars</div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                    <tr>
                        <td>Registration Number</td>
                        <td>Brand</td>
                        <td class="mobileHidden">Year</td>
                        <td class="mobileHidden">KM</td>
                        <td class="mobileHidden">Driver</td>
                        <td class="mobileHidden">Utility Name</td>
                        <td class="mobileHidden">Availability</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="car in ctrl.userCars  | filter:searchText">
                        <td>{{ car.RegNo }}</td>
                        <td>{{ car.Brand }}</td>
                        <td class="mobileHidden">{{ car.Year }}</td>
                        <td class="mobileHidden">{{ car.KmNo }}</td>
                        <td class="mobileHidden">{{ car.Driver }}</td>
                        <td class="mobileHidden" colspan="3">
                            <table class="table">
                                <tbody>
                                <tr ng-repeat="ut in car.Utilities">
                                    <td>{{ ut.UtilityName}}</td>
                                    <td>{{ ut.ExpirationDate}} days</td>
                                    <td>{{ ut.ExpirationKmNo}} km</td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                        <td class="mobileHidden" colspan="2">
                            <!-- Trigger the modal with a button -->
                            <button class="btn btn-default" data-toggle="modal" data-target="#myModal{{car.CarID}}" ng-click="" ng-if="car.Utilities.length >0">Details</button>

                            <!-- Modal -->
                            <div id="myModal{{car.CarID}}" class="modal fade" role="dialog">
                                <div class="modal-dialog">

                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Utilities for {{ car.Brand }} {{ car.RegNo }} </h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="panel panel-default" ng-controller="UtilityDetailsController as ut" ng-init="ut.initialize(car.CarID)">
                                                <div class="panel-body">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <td>Name</td>
                                                                <td>Distance (KM)</td>
                                                                <td>Period (Months)</td>
                                                                <td>Description</td>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="utility in ut.utilities">
                                                                <td>{{ utility.UtilityName }}</td>
                                                                <td>{{ utility.KmNo }}</td>
                                                                <td>{{ utility.MonthsNo }}</td>
                                                                <td>{{ utility.Description }}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-sm-8 col-sm-offset-2">
            <div ng-if="ctrl.message" class="alert alert-info" role="alert">{{ctrl.message}}</div>
        </div>      
    </div>
</div>