<div ng-controller="UtilityController as ut" >
    <div class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse" data-target="#collapseAdd">Add new utility</div>
        <div class="panel-body collapse" id="collapseAdd">
            <form class="form-horizontal">
                <div class="form-group ">
                    <label class="control-label col-sm-2">Utility Name:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" placeholder="Utility Name" ng-model="ut.utility.UtilityName" required>
                    </div>
                </div>

                <div class="form-group ">
                    <label class="control-label col-sm-2">KM:</label>
                    <div class="col-sm-8">
                        <input type="number" min="1" class="form-control" placeholder="Kilometers" ng-model="ut.utility.KmNo" required>
                    </div>
                </div>

                <div class="form-group ">
                    <label class="control-label col-sm-2">Months:</label>
                    <div class="col-sm-8">
                        <input type="number" min="1" class="form-control" placeholder="Months" ng-model="ut.utility.MonthsNo" required>
                    </div>
                </div>

                <div class="form-group ">
                    <label class="control-label col-sm-2">Description:</label>
                    <div class="col-sm-8">
                        <textarea class="form-control" rows="8" ng-model="ut.utility.Description" required></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-8 col-sm-offset-2">
                        <button type="submit" class="btn btn-default" ng-click="ut.addUtility()">Add utility</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Search utility</div>
        <div class="panel-body">
            <label class="control-label col-sm-2">Search:</label>
            <div class="col-sm-8">
                <input type="text" ng-model="searchText" class="form-control" placeholder="Search">
            </div>

        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">All utilities</div>
        <div class="panel-body table-responsive">
            <table class="table">
                <thead class="thead-default">
                    <tr>
                        <th>Name</th>
                        <th>Distance (KM)</th>
                        <th>Period (Months)</th>
                        <th class="mobileHidden">Description</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="utility in ut.utilities  | filter:searchText">
                        <td>{{ utility.UtilityName }}</td>
                        <td>{{ utility.KmNo }}</td>
                        <td>{{ utility.MonthsNo }}</td>
                        <td class="mobileHidden">{{ utility.Description }}</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="...">
                                <button class="btn btn-default" ng-click="ut.deleteUtility(utility.UtilityID)">Delete</button>
                                <!-- Trigger the modal with a button -->
                                <button class="btn btn-default" data-toggle="modal" data-target="#myModal{{utility.UtilityID}}" ng-click="">Update</button>
                            </div>

                            <!-- Modal -->
                            <div id="myModal{{utility.UtilityID}}" class="modal fade" role="dialog">
                                <div class="modal-dialog">

                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Update '{{ utility.UtilityName }}' utility</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="panel panel-default" ng-controller="UtilityController as ut" ng-init="ut.initialize(utility.UtilityID)">
                                                <div class="panel-body">
                                                    <form class="form-horizontal">
                                                        <div class="form-group ">
                                                            <label class="control-label col-sm-2">Utility Name:</label>
                                                            <div class="col-sm-8">
                                                                <input type="text" class="form-control" placeholder="Utility Name" ng-model="ut.utility.UtilityName" required>
                                                            </div>
                                                        </div>

                                                        <div class="form-group ">
                                                            <label class="control-label col-sm-2">KM:</label>
                                                            <div class="col-sm-8">
                                                                <input type="number" min="1" class="form-control" placeholder="Kilometers" ng-model="ut.utility.KmNo" required>
                                                            </div>
                                                        </div>

                                                        <div class="form-group ">
                                                            <label class="control-label col-sm-2">Months:</label>
                                                            <div class="col-sm-8">
                                                                <input type="number" min="1" class="form-control" placeholder="Months" ng-model="ut.utility.MonthsNo" required>
                                                            </div>
                                                        </div>

                                                        <div class="form-group ">
                                                            <label class="control-label col-sm-2">Description:</label>
                                                            <div class="col-sm-8">
                                                                <textarea class="form-control" rows="8" ng-model="ut.utility.Description" required></textarea>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <div class="col-sm-8 col-sm-offset-2">
                                                                <button type="submit" class="btn btn-default" ng-click="ut.updateUtility()">Update utility</button>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="col-sm-8 col-sm-offset-2">
                                                                <div ng-if="ut.created == 'success'" class="alert alert-success" role="alert">{{ut.messageForm}}</div>
                                                                <div ng-if="ut.created == 'fail'" class="alert alert-danger" role="alert">{{ut.messageForm}}</div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="ut.reset()">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-sm-8 col-sm-offset-2">
        <div ng-if="ut.message" class="alert alert-info" role="alert">{{ut.message}}</div>
    </div>
</div>