<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Track my cars</title>

    <!-- Style sheets -->
    <link href="Content/bootstrap.css" rel="stylesheet" />
    <link href="Content/sidebar.css" rel="stylesheet" />
    <link href="Content/footer.css" rel="stylesheet" />
    <link href="Content/angular-chart.css" rel="stylesheet" />
    <link href="Content/loadingGif.css" rel="stylesheet" />

</head>
<body ng-app="app" ng-controller="MainController as vm" data-ng-init="vm.forceSSL();vm.registerToken()" class="ng-cloak">

    <!-- Navbar -->
    <nav class="navbar navbar-default ">
        <div class="container-fluid">

            <div class="mobileNav">

                <div class="glyphBtn desktopHidden">
                    <button ng-if="vm.isLoggedIn" type="button" class="btn btn-default btn-lg ">
                        <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                    </button>
                </div>

                <img src="images/repair_logo.png" height="42" width="42">
                <div ng-if="vm.isLoggedIn" class="navbar-brand ">Track my cars</div>
                <div ng-hide="vm.isLoggedIn" class="navbar-brand brandName"> Track my cars</div>
            </div>
            <div class="nav navbar-nav navbar-right">
                <form ng-hide="vm.isLoggedIn" class="navbar-form navbar-right">

                    <div class="form-group abc">
                        <input type="text" class="form-control" placeholder="Username" ng-model="vm.userData.username" required>
                    </div>

                    <div class="form-group abc">
                        <input type="password" class="form-control" placeholder="Password" ng-model="vm.userData.password" required>
                    </div>

                    <button type="submit" class="btn btn-default" id="loginBtn" ng-click="vm.login()">Login</button>

                    <div ng-show="vm.messageLogIn" id="messageLogIn" class="alert alert-danger" role="alert">{{vm.messageLogIn}}</div>
                </form>
                <ul class="nav navbar-nav mobileHidden" ng-if="vm.isLoggedIn">
                    <li><p class="navbar-text">Hello, {{vm.userData.username}}</p></li>
                    <li><p class="navbar-text" ng-click="vm.logout()"><a href="">Logout</a></p></li>
                </ul>
            </div>
        </div>

    </nav>

    <!-- Container -->
    <div class="container"  ng-hide="vm.isLoggedIn">
        <center>
            <img src="images/logo.png" style='height: 40%; width: 40%; object-fit: contain'/>
        </center>
        <center>
            <img src="images/water.png" style="padding-top: 10%; padding-bottom: 0;"/>
        </center>
    </div>

    <!-- Wrapper -->
    <div ng-if="vm.isLoggedIn" id="wrapper">
        <!-- sidebar -->
        <div id="sidebar-wrapper" class="mobileSideBarVisible sideBarHidden">
            <ul class="sidebar-nav">
                <li ng-click="vm.changePage('contact')"><a href="/#">Contact</a></li>
                <li ng-click="vm.logout()"><a href="">Log out</a></li>
                <li><hr></li>
                <li ng-click="vm.changePage('my_cars')"><a href="/#/my_cars">My Cars</a></li>
            </ul>

            <ul ng-if="vm.role == 'admin'" class="sidebar-nav">
                <li><hr></li>
                <li><h4>Admin</h4></li>
                <li ng-click="vm.changePage('manage_cars')"><a href="/#/manage_cars">Manage Cars</a></li>
                <li ng-click="vm.changePage('manage_utilities')"><a href="/#/manage_utilities">Manage Utilities</a></li>
                <li ng-click="vm.changePage('manage_users')"><a href="/#/manage_users">Manage Users</a></li>
                <li ng-click="vm.changePage('contact_admin')"><a href="/#/contact_admin">Send message</a></li>
            </ul>
        </div>

        <!-- page content -->
        <div id="page-content-wrapper" class="contentVisible">
            <div class="container-fluid">
                <div class="row">
                    <div ng-if="vm.isLoggedIn" class="col-sm-12">
                        <div ng-if="vm.pages.contact" ng-include="'app/contact/contactView.html'">contact</div>
                        <div ng-if="vm.pages.my_cars" ng-include="'app/carUser/carListUsersFormsView.html'">my_cars</div>
                        <div ng-if="vm.pages.update_cars" ng-include="'app/carDetails/carUpdateAdminView.html'">update_car</div>
                        <div ng-if="vm.pages.manage_users" ng-include="'app/user/userListView.html'"></div>
                        <div ng-if="vm.pages.manage_cars" ng-include="'app/car/carListAdminView.html'">manage_cars</div>
                        <div ng-if="vm.pages.manage_utilities" ng-include="'app/utility/utilityAdminListView.html'">manage_utilities</div>
                        <div ng-if="vm.pages.contact_admin" ng-include="'app/contact/contactAdminView.html'">contact_admin</div>
                        <div ng-if="vm.pages.contact_admin_redirect" ng-include="'app/contact/contactAdminRedirectView.html'">contact_admin_redirect</div>
                    </div>
                </div>
            </div>

            <div ng-if="$root.isLoading" class="col-sm-12 loadingGif">
                <div class="windows8">
                    <div class="wBall" id="wBall_1">
                        <div class="wInnerBall"></div>
                    </div>
                    <div class="wBall" id="wBall_2">
                        <div class="wInnerBall"></div>
                    </div>
                    <div class="wBall" id="wBall_3">
                        <div class="wInnerBall"></div>
                    </div>
                    <div class="wBall" id="wBall_4">
                        <div class="wInnerBall"></div>
                    </div>
                    <div class="wBall" id="wBall_5">
                        <div class="wInnerBall"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer when logged -->
        <div ng-include="'html/footer.html'" class="footer"></div>
    </div>
    <!-- footer -->
    <div ng-hide="vm.isLoggedIn" class="navbar-fixed-bottom mobileHidden footer" ng-include="'html/footer.html'"></div>
    <!-- footer mobile -->
    <div ng-hide="vm.isLoggedIn" class="desktopHidden footer" ng-include="'html/footer.html'"></div>


    <div ng-if="$root.isLoadingRegister" class="col-sm-12 loadingGif">
        <div class="windows8">
            <div class="wBall" id="wBall_1">
                <div class="wInnerBall"></div>
            </div>
            <div class="wBall" id="wBall_2">
                <div class="wInnerBall"></div>
            </div>
            <div class="wBall" id="wBall_3">
                <div class="wInnerBall"></div>
            </div>
            <div class="wBall" id="wBall_4">
                <div class="wInnerBall"></div>
            </div>
            <div class="wBall" id="wBall_5">
                <div class="wInnerBall"></div>
            </div>
        </div>
    </div>


    <!-- Library Scripts -->
    <script src="Scripts/jquery-2.2.3.js"></script>
    <script src="scripts/angular.js"></script>
    <script src="Scripts/angular-resource.js"></script>
    <script src="Scripts/angular-cookies.js"></script>
    <script src="Scripts/angular-route.js"></script>
    <script src="Scripts/Chart.js"></script>
    <script src="Scripts/angular-chart.js"></script>
    <script src="Scripts/ngclipboard.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!-- Application Script -->
    <script src="app/app.js"></script>

    <!-- Services -->
    <script src="common/common.services.js"></script>
    <script src="common/userResource.js"></script>
    <script src="common/userAccount.js"></script>
    <script src="common/utilityResource.js"></script>
    <script src="common/carResource.js"></script>
    <script src="common/contactResource.js"></script>

    <!-- Product Controllers -->
    <script src="app/mainController.js"></script>
    <script src="app/user/userController.js"></script>
    <script src="app/utility/utilityController.js"></script>
    <script src="app/car/carController.js"></script>
    <script src="app/carUser/carUserController.js"></script>
    <script src="app/contact/contactController.js"></script>
    <script src="app/user/usernameListController.js"></script>
    <script src="app/carDetails/carDetailsController.js"></script>
    <script src="app/contact/contactAdminRedirectController.js"></script>
    <script src="app/car/utilityDetailsController.js"></script>
</body>

</html>

<script>

    $(".glyphBtn").click(function () {

        if (window.location.protocol == "http:") {
            var restOfUrl = window.location.href.substr(5);
            window.location = "https:" + restOfUrl;
        }

        if ($(".mobileSideBarVisible").hasClass("sideBarHidden")) {
            $(".mobileSideBarVisible").removeClass("sideBarHidden");

        }
        else {
            $(".mobileSideBarVisible").addClass("sideBarHidden");
        }
    });

</script>