<div ng-controller="FormResultController as ctrl">

    <div ng-if="ctrl.results" class="panel panel-default">
        <div class="panel-heading">
            <h3>{{ctrl.results.Title}}</h3>
            <h5>{{ctrl.results.NrVotes}} people have voted</h5>
        </div>

        <div class="panel-body">
            <form class="form-horizontal col-sm-10 pollQuestionPanel">
                <div data-ng-repeat="question in ctrl.results.Questions">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            {{question.Question}}
                        </div>

                        <div class="panel-body">
                            <div class="col-sm-offset-3 col-sm-5">
                                <canvas id="doughnut" class="chart chart-doughnut" chart-legend="true" chart-data="ctrl.chartResult[question.nrCrt].chartData" chart-labels="ctrl.chartResult[question.nrCrt].chartLabels"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <div class="col-sm-4 col-sm-offset-4">
                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                    <div class="btn-group" role="group">
                        <button class="btn btn-primary" ng-click="vm.backPage()">Return</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
 
       <div class="col-sm-8 col-sm-offset-2">
        <div ng-if="ctrl.message" class="alert alert-info" role="alert">{{ctrl.message}}</div>
    </div>

</div>

